 html{
    scroll-behavior: smooth;
}
.body,*{
    padding: 0;
    margin: 0;
    border: none;
     /* border: 1px solid red;  */
}

*::-webkit-scrollbar{
    display: none;
}


body{
    font-family: sans-serif;
    background-color: rgb(248, 248, 248);
}
header{
    width: 100%;
  
    /* border:1px solid red ;  */
    
}
.navbar{
    width: 95%;
    height: 4rem;
    display: flex;
    margin: 0 auto;
    /* border: 1px solid blue; */
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.navleft{
    font-size: 20px;
    color: green;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
   
}

.navleft img{
    width: 8rem;
}

.menu{
    width: 10rem;
    padding-left: 1rem;
    height: 14rem;
    background-color: white;
    position:absolute;
    top:0;
    right: 0;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    margin-right: -12rem;
    color: rgb(56, 53, 53);
    transition: 1s; 
    z-index: 99;
    font-size: 14px;
    font-weight: 800;
    box-shadow: 1px 1rem 2rem rgb(59, 59, 59);
    position: fixed;
}

section{
    width: 100%;
    height: auto;
    padding: 2rem 0; 
    /* border: 1px solid red;  */
}
.container{
    width: 95%;
    height: 18rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero{
    width: 100%;
    display: flex;
    margin:4rem 0 ;
    margin-top: 8rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    /* border: 1px solid red; */
}
.hi{
    overflow-x:hidden;
    z-index: 99;
}


.hero1{
    width: 100%;
    display: flex;
    margin: 4rem 0;
    height: 24rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    display: none;
    overflow-x: auto;
/* 
    border: 1px solid red; */
}
.hero1::-webkit-scrollbar{
    outline: none;
}
.show{
    display: flex;
}

.box{
    margin-top: -8rem;
    height: 13rem;
    border-radius: 2rem;

}

.a{
    width: 10rem;
    z-index: -1;
    /* border: 1px solid red; */
    transform: rotate(-10deg);
    /* background-color: aqua; */
    margin-right: -8.5rem;
    background-image:url(img/battery.jpg) ;
}
.b{
    width: 10rem;
    background-size: cover;
    z-index: 0;
    /* background-color: white; */
    transform: rotate(-10deg);
    margin-right: -7.5rem;
     background-image:url(img/lap1.jpg) ; 
}

.c{
    width: 10rem;
    height: 15rem;
    z-index: 3;
    /* background-color: aqua; */
     background-image: url(img/mob2.jpg); 
     background-size: cover;
}

.d{
    width: 10rem;
    z-index: 0;
    /* background-color: white; */
    background-image: url(img/solar1.jpg);
    transform: rotate(10deg);
    margin-left: -7.5rem;
}

.e{
    width: 10rem;
    z-index: -1;
    /* background-color: aqua; */
    transform: rotate(10deg);
    margin-left: -8.5rem;
    background-image: url(img/stand5.jpeg);
}

.hero-ch{
    width: 100%;
    display: flex;
    margin:4rem 0 ;
    height: auto;
   overflow: auto;
    align-items: center;
    justify-content: space-between;
}
.btnclass{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn{
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    color: black;
    background-color: rgba(0, 0, 0, 0.178);
    font-size: 1.2rem;
    font-weight: 800;
}

.btn:hover{
    box-shadow: 10px 10px 10px 0;
    transition: background 1s ease;
}


.aa{
    width:20rem ;
    height: 18rem;
}
.bb{
    width:20rem ;
    height: 18rem;
}
.cc{
    width:20rem ;
    height: 18rem;
   
}
.dd{
    width:20rem;
    height: 18rem;
   
}
.ee{
    width:20rem ;
    height: 18rem;
    
}

.hero2{
    width: 100%;
     display: flex; 
    justify-content: space-between;
    gap: 2rem;
    height: 15rem;
    overflow-x: auto;
    align-items: center;
    margin-top: 15rem;
}

.hero2::-webkit-scrollbar{
    outline: none;
}

.inverter{
    width: 18.7rem;
    height: 12rem;
    border: 1px solid greenyellow;
   border-radius: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: greenyellow;
   
}

p{
    color: green;
    font-weight: 800;
    font-size: 20px;
    margin: 1rem 0;
    margin-bottom: -9rem;
}

.electrical{
    width: 18.7rem;
    height: 12rem;
    border: 1px solid greenyellow;
    border-radius: 2rem;
}

.automation{
    width: 18.7rem;
    height: 12rem;
    border: 1px solid greenyellow;
    border-radius: 2rem;
}

.hero3{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    gap: 2rem;
    height: 15rem;
    overflow-x: auto;
    align-items: center;
    margin-top: 25rem;
}

.seca{
    width: 100%;
    height: auto;
  
    margin-top: 12rem;
}

.container-works{
    width: 95%;
    height: auto;
    
    margin: 0 auto;
}

.works{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.section-header{
    color: black;
    margin-left: 1rem;
}
.section-header2{
    color: black;
    margin-left: 1rem;
    position: relative;
    top: 3rem;
}

.headers{
    width: 100%;
    display: flex;
    
    margin-top: 10rem;
    overflow-x: auto;
    justify-content: space-between;
    gap: 1rem;
}

.btn-solar{
    width: 5rem;
    border-radius: 5px;
    background-color:rgb(116, 190, 5);
    color: white;
}



.content{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
}
.img1{
    width: 100%;
    height: 10rem;
    background-color: greenyellow;
    margin: 1rem 0;
    border-radius: 5px;
}
.img2{
    width: 100%;
    height: 10rem;
    background-color: rgb(25, 238, 25);
    margin: 1rem 0;
    border-radius: 5px;
}
.end2{
    width: 100%;
    height: 8rem;
   display: flex;
   flex-direction: column;
   align-items: center;
  
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact{
    margin-top: 10rem;
    width: 8rem;
    height: 3rem;
    background-color: greenyellow;
    font-size: 15px;
    font-weight: 800;
    border-radius:10px;
}

footer{
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 4rem 0;
    left: 0;
    border-top: 4px solid greenyellow;
    background-color: black;
    /* border: 1px solid red; */
}
.container1{
    width: 85%;
    height: auto;
    margin: 0 auto;
}
.foot{
    width: 100%;
   
    color: white;
    display: flex;
    justify-content: space-between;
   
    
}

.text2, .text3 {
    width: 45%;
    text-align: left;
    max-width: 15rem;
    color: white;
    font-size: 15px;
}
/* ........................... */





@media only screen and (max-width:478px){



    html{
        scroll-behavior: smooth;
    }
    .body,*{
        padding: 0;
        margin: 0;
        border: none;
         /* border: 1px solid red;  */
    }
    
    *::-webkit-scrollbar{
        display: none;
    }
    
    
    body{
        font-family: sans-serif;
        background-color: rgb(248, 248, 248);
    }
    header{
        width: 100%;
        background-color: white;
        /* border:1px solid red ;  */
        z-index: 99;
        position: fixed;
    }
    .nav-right{
        display: none;
    }
    .navbar{
        width: 95%;
        height: 4rem;
        display: flex;
        margin: 0 auto;
        /* border: 1px solid blue; */
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid white;
    }
    
    .navleft{
        font-size: 20px;
        color: green;
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
        /* border: 1px solid red; */
       
    }
    
    .navleft img{
        width: 8rem;
    }
    
    .menu{
        width: 10rem;
        padding-left: 1rem;
        height: 14rem;
        background-color: white;
        position:absolute;
        top:0;
        right: 0;
        border-radius: 1rem 0 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
        margin-right: -12rem;
        color: rgb(56, 53, 53);
        transition: 1s; 
        z-index: 99;
        font-size: 14px;
        font-weight: 800;
        box-shadow: 1px 1rem 2rem rgb(59, 59, 59);
        position: fixed;
    }
    
    section{
        width: 100%;
        height: auto;
        padding: 2rem 0; 
        /* border: 1px solid red;  */
    }
    .container{
        width: 95%;
        height: 18rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hero{
        width: 100%;
        display: flex;
        margin:4rem 0 ;
        margin-top: 10rem;
        height: auto;
        margin-bottom: -20px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        /* border: 1px solid red; */
    }
    .hi{
        overflow-x:hidden;
        z-index: 99;
    }
    
    
    .hero1{
        width: 100%;
        display: flex;
        margin: 4rem 0;
        height: 24rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        display: none;
        overflow-x: auto;
    /* 
        border: 1px solid red; */
    }
    .hero1::-webkit-scrollbar{
        outline: none;
    }
    .show{
        display: flex;
    }
    
    .box{
        margin-top: -8rem;
        height: 13rem;
        border-radius: 2rem;
    
    }
    
    .a{
        width: 10rem;
        z-index: -1;
        /* border: 1px solid red; */
        transform: rotate(-10deg);
        /* background-color: aqua; */
        margin-right: -8.5rem;
        background-image:url(img/battery.jpg) ;
    }
    .b{
        width: 10rem;
        background-size: cover;
        z-index: 0;
        /* background-color: white; */
        transform: rotate(-10deg);
        margin-right: -7.5rem;
         background-image:url(img/lap1.jpg) ; 
    }
    
    .c{
        width: 10rem;
        height: 15rem;
        z-index: 3;
        /* background-color: aqua; */
         background-image: url(img/mob2.jpg); 
         background-size: cover;
    }
    
    .d{
        width: 10rem;
        z-index: 0;
        /* background-color: white; */
        background-image: url(img/solar1.jpg);
        transform: rotate(10deg);
        margin-left: -7.5rem;
    }
    
    .e{
        width: 10rem;
        z-index: -1;
        /* background-color: aqua; */
        transform: rotate(10deg);
        margin-left: -8.5rem;
        background-image: url(img/stand5.jpeg);
    }
    
    .hero-ch{
        width: 100%;
        display: flex;
        margin:4rem 0 ;
        height: auto;
       overflow: auto;
        align-items: center;
        justify-content: space-between;
    }
    .btnclass{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .btn{
        width: 10rem;
        height: 3rem;
        border-radius: 2rem;
        color: black;
        background-color: rgba(0, 0, 0, 0.178);
        font-size: 1.2rem;
        font-weight: 800;
        margin-top: 1rem;
    }
    
    .btn:hover{
        box-shadow: 10px 10px 10px 0;
        transition: background 1s ease;
    }
    
    
    .aa{
        width:20rem ;
        height: 18rem;
    }
    .bb{
        width:20rem ;
        height: 18rem;
    }
    .cc{
        width:20rem ;
        height: 18rem;
       
    }
    .dd{
        width:20rem;
        height: 18rem;
       
    }
    .ee{
        width:20rem ;
        height: 18rem;
        
    }
    
    .hero2{
        width: 100%;
         display: flex; 
        justify-content: space-between;
        gap: 2rem;
        height: 15rem;
        overflow-x: auto;
        align-items: center;
        margin-top: 15rem;
    }
    
    .hero2::-webkit-scrollbar{
        outline: none;
    }
    
    .inverter{
        width: 18.7rem;
        height: 12rem;
        border: none;
       border-radius: 2rem;
       display: flex;
       align-items: center;
       justify-content: center;
        background: none;
       
    }
    
    p{
        color: green;
        font-weight: 800;
        font-size: 20px;
        margin: 1rem 0;
        margin-bottom: -9rem;
    }
    .inv,.inv2{
        border-radius: 1rem;
    }
    .elec,.elec2{
        border-radius: 1rem;
    }
    .aut,.aut2{
        border-radius: 1rem;
    }
    
    .electrical{
        width: 18.7rem;
        height: 12rem;
        border-radius: 2rem;
        border: none;
    }
    
    .automation{
        width: 18.7rem;
        height: 12rem;
        border: none;
        border-radius: 2rem;
        display: flex;
        align-items: center;
    }
    
    .hero3{
        width: 100%;
        display: flex; 
        justify-content: space-between;
        gap: 2rem;
        height: 15rem;
        overflow-x: auto;
        align-items: center;
        margin-top: 25rem;
    }
    
    .seca{
        width: 100%;
        height: auto;
      
        margin-top: 12rem;
    }
    
    .container-works{
        width: 95%;
        height: auto;
        
        margin: 0 auto;
    }
    
    .works{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .section-header{
        color: black;
        margin-left: 1rem;
    }
    .section-header2{
        color: black;
        margin-left: 1rem;
        position: relative;
        top: 3rem;
    }
    
    .headers{
        width: 100%;
        display: flex;
        
        margin-top: 10rem;
        overflow-x: auto;
        justify-content: space-between;
        gap: 1rem;
    }
    
    .btn-solar{
        width: 5rem;
        border-radius: 5px;
        background-color:rgb(116, 190, 5);
        color: white;
    }
    
    
    
    .content{
        width: 100%;
        display: flex;
        height: auto;
        flex-direction: column;
    }
    .img1{
        width: 100%;
        height: 10rem;
        background-color: greenyellow;
        margin: 1rem 0;
        border-radius: 5px;
    }
    .img2{
        width: 100%;
        height: 10rem;
        background-color: rgb(25, 238, 25);
        margin: 1rem 0;
        border-radius: 5px;
    }
    .end2{
        width: 100%;
        height: 8rem;
       display: flex;
       flex-direction: column;
       align-items: center;
      
    }
    span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact{
        margin-top: 10rem;
        width: 8rem;
        height: 3rem;
        background-color: greenyellow;
        font-size: 15px;
        font-weight: 800;
        border-radius:10px;
    }
    
    footer{
        width: 100%;
        position: relative;
        bottom: 0;
        padding: 4rem 0;
        left: 0;
        border-top: 4px solid greenyellow;
        background-color: black;
        /* border: 1px solid red; */
    }
    .container1{
        width: 85%;
        height: auto;
        margin: 0 auto;
    }
    .foot{
        width: 100%;
       
        color: white;
        display: flex;
        justify-content: space-between;
       
        
    }
    
    .text2, .text3 {
        width: 45%;
        text-align: left;
        max-width: 15rem;
        color: white;
        font-size: 15px;
    }
    








}



/* ..................desktopview */


@media only screen and (min-width:478px){
    html{
        scroll-behavior: smooth;
    }
    .body,*{
        padding: 0;
        margin: 0;
        border: none;
         /* border: 1px solid red;  */
    }
    
    *::-webkit-scrollbar{
        display: none;
    }
    
    
    body{
        font-family: sans-serif;
        background-color: rgb(248, 248, 248);
    }
    header{
        width: 100%;
        position: fixed;
        /* border:1px solid red ;  */
        z-index: 99;
        background-color: white;
    }
    .navbar{
        width: 90%;
        height: 4rem;
        display: flex;
        margin: 0 auto;
        /* border: 1px solid blue; */
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid greenyellow;
    }
    
    .navleft{
        font-size: 20px;
        color: green;
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
        /* border: 1px solid red; */
       
    }
    .btn1{
        display: none;
    }
    
    .navleft img{
        width: 10rem;
    }
    
    .menu{
        width: 10rem;
        padding-left: 1rem;
        height: 14rem;
        background-color: white;
        position:absolute;
        top:0;
        right: 0;
        border-radius: 1rem 0 0 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
        margin-right: -12rem;
        color: rgb(56, 53, 53);
        transition: 1s; 
        z-index: 99;
        font-size: 14px;
        font-weight: 800;
        box-shadow: 1px 1rem 2rem rgb(59, 59, 59);
        position: fixed;
    }
    .nav-right{
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
      
    }
    a{
        text-decoration: none;
        color: forestgreen;
        font-weight: 700;
        font-size: 15px;
    }
    
    section{
        width: 100%;
        height: auto;
        padding: 2rem 0; 
        /* border: 1px solid red;  */
        border-bottom: 1px solid green;
    }
    .container{
        width: 95%;
        height: 35rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hero{
        width: 95%;
        display: flex;
        margin:2rem auto ;
        margin-top: 8rem;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        /* border: 1px solid red; */
    }
    .hi{
        overflow-x:hidden;
        z-index: 99;
    }
    
    
    .hero1{
        width: 100%;
        display: flex;
        margin: 4rem 0;
        height: 24rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        display: none;
        overflow-x: auto;
    /* 
        border: 1px solid red; */
    }
    .hero1::-webkit-scrollbar{
        outline: none;
    }
    .show{
        display: flex;
    }
    
    .box{
        margin-top: -8rem;
        height: 20rem;
        border-radius: 2rem;
    
    }
    
    .a{
        width: 15rem;
        z-index: -1;
        /* border: 1px solid red; */
        transform: rotate(-10deg);
        /* background-color: aqua; */
        margin-right: -8.5rem;
        background-image:url(img/battery.jpg) ;
    }
    .b{
        width: 15rem;
        background-size: cover;
        z-index: 0;
        /* background-color: white; */
        transform: rotate(-10deg);
        margin-right: -7.5rem;
         background-image:url(img/lap1.jpg) ; 
    }
    
    .c{
        width: 15rem;
        height: 22rem;
        z-index: 3;
        /* background-color: aqua; */
         background-image: url(img/mob2.jpg); 
         background-size: cover;
    }
    
    .d{
        width: 15rem;
        z-index: 0;
        /* background-color: white; */
        background-image: url(img/solar1.jpg);
        transform: rotate(10deg);
        margin-left: -7.5rem;
    }
    
    .e{
        width: 15rem;
        z-index: -1;
        /* background-color: aqua; */
        transform: rotate(10deg);
        margin-left: -8.5rem;
        background-image: url(img/stand5.jpeg);
    }
    
    .hero-ch{
        width: 100%;
        display: flex;
        margin:4rem 0 ;
        height: auto;
       overflow: auto;
        align-items: center;
        justify-content: space-between;
    }
    .btnclass{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .btn{
        width: 10rem;
        height: 3rem;
        border-radius: 2rem;
        color: white;
        background-color: black;
        font-size: 1.2rem;
        font-weight: 800;
    }
/*     
    .btn:hover{
        box-shadow: 10px 10px 10px 0;
        transition: background 1s ease;
    } */
    
    
    .aa{
        width:20rem ;
        height: 18rem;
    }
    .bb{
        width:20rem ;
        height: 18rem;
    }
    .cc{
        width:20rem ;
        height: 18rem;
       
    }
    .dd{
        width:20rem;
        height: 18rem;
       
    }
    .ee{
        width:20rem ;
        height: 18rem;
        
    }
    
    .hero2{
        width: 100%;
         display: flex; 
        justify-content: space-between;
        gap: 2rem;
        height: 35rem;
        overflow-x: auto;
        align-items: center;
        margin-top: 13rem;
        margin-bottom: -5rem;
    }
    
    .hero2::-webkit-scrollbar{
        outline: none;
    }
    .Services{
        margin-bottom: -15rem;
        height: 50rem;

    }
    
    .inverter{
        width: 25rem;
        height: auto;
       border-radius: 2rem;
       display: flex;
       align-items: center;
       justify-content: center;
       background: none;
        border: none;

    }
    .inv{
        width: 400px;
    }
    .elec{
        width: 400px;
    }
    .aut{
        width: 400px;
    }

    
    p{
        color: green;
        font-weight: 800;
        font-size: 20px;
        margin: 1rem 0;
        margin-bottom: -9rem;
    }
    
    .electrical{
        width: 25rem;
        height: auto;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        
    }
    
    .automation{
        width: 25rem;
        height: auto;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }
    .in{
        width: 200rem;
        background-color: transparent;
    }

    .hero3{
        width: 100%;
        display: flex; 
        justify-content: space-between;
        gap: 2rem;
        height: 20rem;
        overflow-x: auto;
        align-items: center;
        margin-top: 35rem;
    }
    .inv2{
        width: 300px;
    }
    .elec2{
        width: 400px;
    }
    .aut2{
        width: 400px;
    }
    .seca{
        width: 100%;
        height: auto;
      
        margin-top: 12rem;
    }
    
    .container-works{
        width: 95%;
        height: auto;
        
        margin: 0 auto;
    }
    
    .works{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .section-header{
        color: black;
        margin-left: 1rem;
        font-size: 1.5rem;
        margin-left: 2rem;
    }
    .section-header2{
        color: black;
        margin-left: 1rem;
        position: relative;
        top: 10rem;
        font-size: 1.5rem;
        margin-left: 2rem;
    }
    .section-header3{
        color: black;
       padding: 4rem 0;
    }
    
    .headers{
        width: 100%;
        display: flex;
        
        margin-top: 10rem;
        overflow-x: auto;
        justify-content: space-between;
        gap: 1rem;
    }
    
    .btn-solar{
        width: 5rem;
        border-radius: 5px;
        background-color:rgb(116, 190, 5);
        color: white;
    }
    
    
    
    .content{
        width: 100%;
        display: flex;
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .img1{
        width: 20rem;
        height: 20rem;
        background-color: rgb(25, 238, 25);
        margin: 1rem 0;
        border-radius: 5px;
    }
    .img2{
        width: 20rem;
        height: 20rem;
        background-color: greenyellow;
        margin: 1rem 0;
        border-radius: 5px;
    }
    .img3{
        width: 20rem;
        height: 20rem;
        background-color: rgb(25, 238, 25);
        margin: 1rem 0;
        border-radius: 5px;
    }
    .end2{
        width: 100%;
        height: 8rem;
       display: flex;
       flex-direction: column;
       align-items: center;
      
    }
    span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact{
        margin-top: 10rem;
        width: 8rem;
        height: 3rem;
        background-color: greenyellow;
        font-size: 15px;
        font-weight: 800;
        border-radius:10px;
    }
    
    footer{
        width: 100%;
        position: relative;
        bottom: 0;
        padding: 8rem 0;
        left: 0;
        border-top: 4px solid greenyellow;
        background-color: black;
        /* border: 1px solid red; */
    }
    .container1{
        width: 85%;
        
        margin: 0 auto;
    }
    .foot{
        width: 100%;
       
        color: white;
        display: flex;
        justify-content: space-between;
        height: 20rem;
        /* border: 1px solid gray; */
        
    }
    
     .tet {
        width: 45%;
        text-align: left;
        display: flex;
        flex-direction: column;
        height: 10rem;
        color: white;
        font-size: 15px;
        /* border: 1px solid red; */
    }
    
    .text2{
        width: 45%;
        display: flex;
        flex-direction: column;
       
        color: white;
        text-align: left;
        /* border: 1px solid rgb(40, 150, 252); */
        max-width: 15rem;
        height: auto;
        color: white;
        font-size: 15px;
    }

    .f-logo-cover{
        width: 15rem;
        height: 4rem;
       
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
       
    }

    .footer-logo{
        width: 100%;

        margin-left: -3rem;
    }

    .test2{
        text-align: left;
   
        color: white;
        font-size: 15px;
       
    }
    
    
}